:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.card mb-3 {
  padding-bottom: 50px;
}

body {
  margin-top: 20px;
  justify-content: center;
}

.card {
  border: none;
}
.card-img {
  border-radius: 0;
}

.portrait {
border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 65%;
  margin-top: 35px;
}

.card {
  border: none;
}

.card-img {
  border-radius: 0;
}

img {
  padding: 9px;
}

.card {
  justify-content: flex;
  display: inline;
  box-shadow: 4px 5px 18px -4px rgba(0, 0, 0, 0.52);
}

container {
  box-shadow: 4px 5px 18px -4px rgba(0, 0, 0, 0.52);
}
